@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,200;7..72,300;7..72,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@font-face {
    font-family:Haymaker;
    src: url("../fonts/AA-Haymaker.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
}

html{
    scroll-behavior: smooth;
}

#wrapper{
    width: 100%;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #151517;
}


/* Эаголовок начало */

header{
    display:flex;
    width: 100%;
    height: 8vh;
    background-color: #151517;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #E0E0E0;
}
#chapters{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:190px;
}
#chapters > a{
    font-size:20px;
    font-family: "Inter",serif ;
}

/* Первый экран*/

#first_screen{
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    height: 92vh;
    padding-top:10%;
    background-size: cover;
    display: flex;
    justify-content: space-between;

    flex-direction: column;
}
#main_video{
    box-sizing: border-box;
    overflow:hidden ;
    width: 100vw;
    height: 92vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}
#first_screen_align{
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 40vh ;
    width: 30vw;
    z-index: 1;
}

#info>h1{
    letter-spacing: 25px;
    text-shadow: 8px 8px 1px #333, -8px -8px 0 rgb(182, 164, 22);
} 
/* #first_screen_align{
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
} */

#order{
    width: 340px;
    height: 70px;
    letter-spacing: 10px;
    outline: 5px solid rgba(215, 194, 24, 0.8);
    /*width: 320px;*/
    /*height:60px;*/
    /*letter-spacing:9px;*/

}
.sys_button{
    color: #E0E0E0;
    font-size: 24px;
    background-color: rgba(215, 194, 24, 0.8);
    border: none;
    text-align: center;
    cursor: pointer;
    text-shadow: 2px 2px #151517;
}
#sub_order{
    width: 200px;
    height: 40px;
    background-color: #151517;
    border: 2px solid rgba(215, 194, 24, 0.8) ;
}

#timer{
   z-index: 1;
    height: 60px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
    background-color: #151517;
    border: 1px solid #E0E0E0;
}
#time_container{
    display: flex;
    justify-content: center;
    width: 180px;
}

#info>h1{
    margin-bottom: 5%;
    font-size: 70px;
}

#info{
    margin-bottom: 10%;
}
h1{
    font-size: 40px;
    font-family: 'Rubik Mono One', sans-serif;
}
h2{
    font-size: 35px;
    font-family: 'Literata', serif;
}
h3{
    font-size: 28px;
    font-family: 'Literata', serif;
}
p{
    font-size: 24px;
    font-family: 'Literata', serif;
}

h1,h2,h3,p,#order{
    color: #E0E0E0;
}
#next_screen{
    align-self: center;
    justify-self: self-end;
}
/*О продукте*/
#features_header{
    margin-top: 40px;
    margin-bottom: 30px;
}

/*горизонтальный скролл*/
#horizontal_scroller{
    width: 100vw;
    display: grid;
    gap: 30px;
    grid-auto-rows:80vh;
    grid-auto-flow: column;
    grid-auto-columns:90vw ;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: inline mandatory;
}
.active {
    background: rgba(255,255,255,0.3);
    cursor: grabbing;
}
#horizontal_scroller::-webkit-scrollbar {
    width: 0;
}
#horizontal_scroller>*{
    scroll-snap-align: center;
}
.slide{
    overflow: hidden;
    background-color: #151517;
    border: 2px solid rgba(215, 194, 24, 0.8);
    display: grid;
    grid-template-columns: 0.5fr repeat(7, 1fr) 0.5fr;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
.slide>*{
    opacity: 0;
}
.slide>.bookmarks_sl{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: 2 / 1 / 6 / 2;
}
.bookmarks_sl>a{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 50px;
}
.hidden{
    
}
.slide>.header_sl{
    grid-area: 1 / 1 / 2 / 10;
    text-align: center;
}
.slide>.img_sl{
    grid-area: 2 / 5 / 6 / 9;
    object-fit: cover;
    width: 100%;
    height: 100%;

}
.slide>.sub_header_sl{
    grid-area: 2 / 2 / 3 / 5;
}
.slide>.filling_sl{
    grid-area: 3 / 2 / 5 / 5;
}
.slide>.button_sl{
    grid-area: 7 / 4 / 8 / 7;
}
/*Карточки с лором*/
#card_holder{
    justify-content: center;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 180px;

}
.card{
    background-size:cover;
    background-repeat:no-repeat;
    height: 450px;
    width: 350px;
    background-color: aqua;
}